*
{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
    font: "Fira Sans",serif;
}
body{
    background:black;

}
.container
{
    width: 400px;
    padding: 25px 35px;
    position:absolute;
    left:40%;
    top:30%;
    transform: translate(-50px, -50px);
    background: #fff;
    border-radius: 10px;
}
.container p
{
    font-weight: 600;
    font-size:20px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: rgb(16, 16, 27);
}
.container input
{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    outline: 0px;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button
{
    padding: 15px 8px;
    width: 100%;
    height: 50%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 10px 0;
    font-weight: 400;
}
#imgbox
{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#imgbox img
{
    width: 100%;
    padding: 10px;
}

#imgbox.show-img
{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid black;
}
.error
{
    animation: shake 0.1s linear 5;
    box-shadow: 0 10px 10px rgba(236, 7, 7, 0.1);
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }

}
